{
    "{src,modules}/**/*.{js,ts,jsx,tsx,json,html,css,scss}": [
        "nx affected:lint --base=lesson-8 --head=HEAD",
        "nx affected:test --base=lesson-8 --head=HEAD",
        "nx format:write --uncommitted"
    ]
}
